@import "~@angular/material/theming";

@mixin app-home-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  app-home {
    .primary-layer {
      // background: rgba(mat-color($primary), .8);
      background: mat-color($primary, default, 1) 10%;
    }

    .features {
      fa-icon {
        color: mat-color($primary, default);
      }
    }
  }
}
