<div class="site-banner">
    <div class="banner-wrapper primary-layer">
        <div class="banner-inner">
            <div class="banner-content container text-center container-full-width">

                <img [src]="logo" [alt]="'app.title.home' | translate" height="256"/>
<!--                <h2 class="display-3 mb-4 text-white text-uppercase">-->
<!--                    <span class="d-title">-->
<!--                        {{'app.title.home'|translate}}-->
<!--                    </span>-->
<!--                </h2>-->
                <h2 class="text-white text-uppercase">{{'app.title.home' | translate}}</h2>
                <h4 class="text-white">{{'app.coming_soon' | translate}}</h4>
            </div>
        </div>
    </div>
</div>
