@import "../styles-variables";

.theme-wrapper {
  height: 100%;
  width: 100%;
  mat-sidenav-container {
    height: 100%;
    width: 100%;
    .jobs{
      width: 100%;
      margin-bottom: $content-padding;
    }
    .toolbar {
      position: fixed;
      width: 100%;
      display: flex;
      z-index: 10;
      mat-toolbar {
        padding: 0;
        height: $main-menu-height;
        @media (max-width: map-get($grid-breakpoints, md)) {
          .container {
            max-width: 100%;
          }
        }
        .branding {
          cursor: pointer;
          overflow: hidden;
          padding-top: 4px;
          text-overflow: ellipsis;
          font-family: $font-family;
          font-size: $font-size-large-up;
          flex: 1 1 auto;
          img {
            position: relative;
            top: -2px;
            width: auto;
            height: 64px;
          }
        }
      }

      .nav-button {
        margin: 0 10px 0 0;
      }

      fa-icon {
        font-size: 24px;
      }
    }

    .wrapper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      flex-direction: column;

      .content {
        flex: 1 0 auto;
        //margin-top: $main-menu-height;
        overflow: hidden;
      }

      .footer {
        flex: 0 0 auto;
        font-size: $font-size-base;
        .foter-content-wrap {
          border-top: 2px solid;
          border-bottom: 1px solid;
          position: relative;
          font-size: $font-size-small !important;
          .contact {
            ul {
              list-style: none;
              padding: 0;
              li {
                clear: both;
                font-size: $font-size-small;
                margin-bottom: 8px;
                overflow: hidden;
                fa-icon {
                  float: left;
                  margin-right: 8px;
                  margin-top: 2px;
                }
                .text {
                  float: left;
                }
              }
            }
          }
          .feature-thumb {
            position: absolute;
            top: -50px;
            right: 38px;
            width: 10%;
            img {
              width: 100%;
            }
          }
          @media (max-width: map-get($grid-breakpoints, md)) {
            .feature-thumb {
              top: -26px;
            }
          }
          @media (max-width: map-get($grid-breakpoints, sm)) {
            .feature-thumb {
              top: 10px;
            }
          }
        }
        .copy {
          border-top: 3px solid;
          font-size: $font-size-small !important;
        }
        .social-links {
          border-top: 1px solid;
          fa-icon {
            margin-right: 8px;
          }
        }
      }
    }
  }

  mat-sidenav {
    width: 250px;
    .branding {
      height: 64px;
      padding: 8px 10px;
      font-size: 20px;
      font-weight: 500;

      img {
        height: 48px;
        margin: 2px 10px 0 0;
      }

      span {
        position: relative;
        top: 3px;
      }
    }

    .mat-nav-list {
      padding-top: 0;
    }
  }
}
