@import '~@angular/material/theming';

@mixin app-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  h1{
    //color: mat-color($primary, white);
    position: relative;
    margin-bottom: 20px;
    &::after{
      position: absolute;
      content: '';
      left: 0;
      bottom: -4px;
      width: 100px;
      height: 4px;
      background-color: mat-color($primary, lighter);
    }
  }

  mat-sidenav-container {
    .toolbar{
      mat-toolbar {
        // background: rgba(mat-color($primary), .7 );
        .branding {
          color: mat-color($primary, white);
        }
      }  
    }
    mat-toolbar {
      button {
        &.active {
          color: mat-color($accent, default-contrast);
          background-color: mat-color($accent);
        }
      }

      .link {
        color: mat-color($primary, default-contrast);
      }
    }

    mat-sidenav {
      .mat-list-item {
        &.active {
          color: mat-color($accent, default-contrast);
          background-color: mat-color($accent) !important;

          &:hover {
            background-color: mat-color($accent, darker) !important;
          }
        }
      }
    }

    .footer {
      color: mat-color($primary, color-text-light);
      background-color: mat-color($primary, darkBackground);
      .foter-content-wrap{
        border-color: lighten(mat-color($primary, darkBackground), 6%) !important;
        h3{
          color: mat-color($primary, white);
          position: relative;
          margin-bottom: 20px;
          &::after{
            position: absolute;
            content: '';
            left: 0;
            bottom: -4px;
            width: 100px;
            height: 4px;
            background-color: mat-color($primary, lighter);
          }
        }
        a{
          color: mat-color($primary, color-text-light);
        }
        fa-icon{
          border-color: lighten(mat-color($primary, darkBackground), 6%) !important;
        }
      }
      

      .copy{
        border-color: darken(mat-color($primary, darkBackground), 6%) !important;
        background-color: darken(mat-color($primary, darkBackground), 15%) !important;
      }
      .social-links{
        border-bottom-color: darken(mat-color($primary, darkBackground), 3%) !important;
      }
      a {
        color: mat-color($primary, lighter);
        &:hover {
          color: mat-color($accent);
        }
      }
    }
  }

  .error-notification-overlay {
    color: mat-color($warn, default-contrast);
    background-color: mat-color($warn);
  }

  .info-notification-overlay {
    color: mat-color($accent, default-contrast);
    background-color: mat-color($accent);
  }

  .success-notification-overlay {
    color: mat-color($success-colors, default-contrast);
    background-color: mat-color($success-colors);
  }

  .warning-notification-overlay {
    color: mat-color($warning-colors, default-contrast);
    background-color: mat-color($warning-colors);
  }
}
