<div class="container mt-3">
    <div class="row">
        <div class="col-12">
            <h1 class="font-base text-uppercase">{{'app.menufooter.legal'|translate}}</h1>
            <p class="font-size-small">
                En cumplimiento de lo establecido en el Art. 10 de la Ley 34/2002, de 11 de julio, de Servicios de la
                Sociedad de la Información y Comercio Electrónico (LSSI-CE), se informa que esta página web es
                titularidad del teleclap Media S.L.
            </p>
            <p class="font-size-small">
                El presente sitio ha sido diseñado para dar a conocer y permitir el acceso general de todos los
                Usuarios a la información, actividades, productos y servicios diversos, propios o de terceros,
                ofertados por teleclap Media S.L.
            </p>
            <h3>TITULARIDAD</h3>
            <blockquote class="font-size-small">
                teleclap MEDIA, S.L.<br />
                C/ Peñiscola 31, Ático<br />
                08033 Barcelona;<br /><br />
                <small>Inscrita en el Registro de Barcelona Tomo 46.415, Folio 121, Hoja B-519254,
                    Inscripción 1ª NIF: B67218248</small>
            </blockquote>
            <h3>CONDICIONES DE USO DE LA WEB</h3>
            <h4>ACCESO GENERAL</h4>
            <p class="font-size-small">
                teleclap.com ha creado esta web, con carácter informativo, para un uso personal y gratuito.
            </p>
            <p class="font-size-small">
                La utilización de esta Web por cualquier persona atribuye la condición de Usuario del sitio, y la
                adhesión a las presentes condiciones en la versión publicada en el momento en que se acceda a la misma.
                Por ello, teleclap Media recomienda al Usuario leer las condiciones de uso atentamente cada vez que
                acceda a las Webs.
            </p>
            <p class="font-size-small">
                teleclap Media, no se hace responsable por los daños y perjuicios ocasionados por el uso indebido del
                servicio.
            </p>
            <h3>POLÍTICA DE PRIVACIDAD</h3>
            <p class="font-size-small">
                La visita a la Web no implica que el usuario se registre o que deba facilitar datos de carácter
                personal. Cuando deba suministrarlos, el sitio Web informa sobre el carácter voluntario u obligatorio
                de la entrega de los datos.
            </p>
            <p class="font-size-small">
                De conformidad al Reglamento EU 2016/679 del Parlamento Europeo y del Consejo, de 27 de abril de 2016,
                relativo a la protección de las personas físicas en lo que respecta al tratamiento de datos personales
                y a la libre circulación de estos datos (RGPD); con la información que le proporcionaremos a
                continuación, teleclap Media quiere que usted conozca cual es la política de privacidad aplicada en
                cuanto a sus datos personales.
            </p>
            <h3>POLÍTICA DE “COOKIES”</h3>
            <p class="font-size-small">
                No te preocupes: las cookies son algo muy sencillo y que todas las webs necesitan para funcionar. Aquí
                te explicamos qué son las cookies y cómo las utilizamos en nuestra web.
            </p>


            <h4>¿Qué son las cookies?</h4>
            <p class="font-size-small">
                Una cookie es un fichero que se descarga para almacenar y recuperar datos de un equipo terminal en el
                ordenador o equipo informático del usuario, al acceder a determinadas páginas web que se archiva en el
                disco duro o en la memoria temporal, y retiene datos del usuario y sobre la navegación que se efectúa
                desde ese equipo, y que permiten acciones como recordar contraseña o elaborar consultas más rápidas.
            </p>

            <p class="font-size-small">
                El usuario puede borrar las cookies de su disco duro siempre que lo desee, o bloquear la recogida de la
                información. Si no desea que las cookies sean almacenadas, deberá configurarse el navegador web para
                tal uso. En caso de no almacenarlas, algunas funcionalidades de teleclap Media pueden no estar
                disponibles, pero sí se podrá navegar por la web. La información es únicamente para el uso particular
                de teleclap Media, no revelando ni compartiendo esta información con terceros.
            </p>
            <p class="font-size-small">
                La información que esta Web almacena en su equipo mediante este mecanismo consiste únicamente en un
                número que identifica a un usuario, además de preferencias como el idioma de navegación preferido, y la
                fecha en la que se depositó la cookie. Esto permitirá reconocerle en sus próximas visitas a nuestro
                sitio Web. Las cookies nos ayudan a mejorar nuestro sitio Web y a prestar un servicio mejor y más
                personalizado. En concreto, nos permiten:
            </p>
            <ul class="font-size-small">
                <li>Hacer una estimación sobre números y patrones de uso.</li>
                <li>Almacenar información acerca de tus preferencias y personalizar nuestro sitio web de conformidad
                    con tus intereses individuales.
                </li>
                <li>
                    Acelerar tus búsquedas.
                </li>
                <li>
                    Reconocerte cuando regreses de nuevo a nuestro sitio, siempre que accedas desde el ordenador donde
                    te has validado como socio con tu nombre y contraseña.
                </li>
                <li>
                    Para analizar la navegación de usuarios (estadísticas de navegación). La aplicación utilizada para
                    obtener y analizar la información de la navegación es: Google Analytics: <a href="http://www.google.com/analytics">www.google.com/analytics</a>
                    y <a href="http://www.google.es/intl/es/analytics/privacyoverview.html">http://www.google.es/intl/es/analytics/privacyoverview.html</a>
                </li>
            </ul>

            <p class="font-size-small">
                Esta herramienta no obtiene datos de los nombres o apellidos ni de la dirección postal desde donde se
                conectan ni cualquier otro dato personal identificativo del usuario.
            </p>
            <p class="font-size-small">
                La información que obtiene está relacionada con el número de páginas visitas, el idioma, red social en
                la que se publican nuestras noticias, la ciudad a la que está asignada la dirección IP desde la que
                acceden los usuarios, el número de usuarios que nos visitan, la frecuencia y reincidencia de las
                visitas, el tiempo de visita, el navegador que usan, el operador o tipo de terminal desde el que se
                realiza la visita. Esta información la utilizamos para mejorar nuestras páginas, detectar nuevas
                necesidades y valorar las mejoras a introducir con la finalidad de prestar un mejor servicio a los
                usuarios que nos visitan, adaptándolas por ejemplo a los navegadores o terminales más utilizados.
            </p>
            <h4>¿Qué tipos de cookies utiliza teleclap Media?</h4>
            <table class="table table-bordered table-striped font-size-small">
                <thead class="thead-dark">
                    <tr>
                        <td nowrap colspan="2"><b>TIPOS DE COOKIES</b></td>
                        <td><b>PROPÓSITO DE ESTE TIPO DE COOKIES</b></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Cookies analíticas</td>
                        <td>Google Analytics</td>
                        <td>
                            Estas cookies se utilizan para analizar el comportamiento de los usuarios de forma agregada
                            y anónima incluyendo el número de visitantes a la web y sus distintas páginas, la
                            procedencia de las visita, día y hora, plataforma, palabras de búsqueda que utiliza un
                            usuario para encontrar su contenido deseado. De esta forma teleclap Media se sirve de un
                            medio de gran utilidad para poder introducir mejoras en el sitio web y saber qué contenido
                            o diseño es más relevante para el usuario.
                        </td>
                    </tr>
                    <tr>
                        <td>Cookies Support</td>
                        <td></td>
                        <td>
                            Recoge el valor relativo a la aceptación de cookies por parte del navegador utilizado por
                            el usuario de la página web.
                        </td>
                    </tr>
                </tbody>
            </table>
            <h4>¿Cómo puedes configurar tus cookies?</h4>
            <p class="font-size-small">
                Al navegar y continuar en nuestro sitio web, estarás consintiendo el uso de las cookies en las
                condiciones contenidas en la presente Política de Cookies. Como usuario, tienes la posibilidad de
                ejercer tu derecho a bloquear, eliminar y rechazar el uso de cookies, en todo momento, modificando las
                opciones del navegador;
                por ejemplo:<br><br>
                <b>Explorer</b>: Herramientas> Opciones de Internet> privacidad> Configuración.<br>
                Para más información, puedes consultar el apoyo de Microsoft o la Ayuda del navegador.
                <br><br>

                <b>Mozilla Firefox</b>: Herramientas> Opciones> Privacidad> Historial> Configuración Personalizada.<br>
                Para más información, puedes consultar el apoyo de Mozilla o la Ayuda del navegador.
                <br><br>

                <b>Google Chrome</b>>: Configuración> Mostrar opciones avanzadas> Privacidad -> Configuración de
                contenido.<br>
                Para más información, puedes consultar el apoyo de Google o la Ayuda del navegador.
                <br><br>

                <b>Safari</b>>: Preferencias> Seguridad.<br>
                Para más información, puedes consultar el soporte de Apple o la Ayuda del navegador.
                <br><br>

                <b>Opera</b>>: Configuración> Opciones> Avanzado> Cookies<br>
                Para más información, puedes consultar el apoyo de Opera o la Ayuda del navegador.
                <br><br>
            </p>
            <p class="font-size-small">
                Si utilizas otro navegador distinto de los anteriores, consulta su política de instalación, uso y
                bloqueo de cookies.
            </p>

            <h4>¿Qué pasa si se desactivan las cookies?</h4>
            <p class="font-size-small">
                Algunas funcionalidades de los Servicios o áreas de este sitio web podrían no funcionar.
            </p>

            <p class="font-size-small">
                Es posible que actualizamos la política de cookies de nuestra página web, por ello, te recomendamos
                revisar esta política cada vez que accedas a nuestro sitio web, con el objetivo de estar adecuadamente
                informado sobre cómo y por qué utilizamos las cookies.
            </p>
            <p class="font-size-small">
                También existen otras herramientas de terceros, disponibles on line, que permiten a los usuarios
                detectar las cookies en cada sitio web que visita y gestionar su desactivación (por ejemplo, Ghostery:<br>
                <a href="http://www.ghostery.com/privacy-statement">http://www.ghostery.com/privacy-statement</a>,
                <a href="http://www.ghostery.com/faq">http://www.ghostery.com/faq</a>
            </p>
            <h3>PROPIEDAD INTELECTUAL</h3>
            <p class="font-size-small">
                teleclap.com, teleclapmedia.com y teleclap.com son dominios registrado por teleclap Media. Este dominio
                no puede ser utilizado, salvo autorización expresa previa, en conexión con otros servicios que no sean
                de la empresa de ninguna manera que pueda causar confusión entre nuestros clientes o descrédito de la
                misma.
            </p>
            <p class="font-size-small">
                Los derechos de propiedad intelectual del web teleclap.com, su diseño, estructura de navegación,
                código fuente
                con códigos de lenguaje HTML, JAVA, JavaScript, entre otros, sus bases de datos así como cada uno de
                los distintos elementos en él contenidos son titularidad de teleclap Media, SL; a
                quien corresponde únicamente el ejercicio exclusivo de los derechos de explotación de los mismos en
                cualquier forma y, en especial, los derechos de reproducción, distribución, comunicación pública y
                transformación.
            </p>
            <p class="font-size-small">
                El usuario se obliga a usar los contenidos de forma diligente, correcta y lícita y, en particular, se
                compromete a abstenerse de suprimir, eludir o manipular el “copyright” y demás datos identificativos de
                los derechos del teleclap Media o de sus titulares incorporados a los contenidos, así como los
                dispositivos técnicos de protección o cualesquiera mecanismos de información que pudieren incluirse en
                los contenidos. Asimismo, el usuario se abstendrá de emplear los contenidos y, en particular, la
                información de cualquier clase obtenida a través del sitio para remitir publicidad, comunicaciones con
                fines comerciales, mensajes no solicitados dirigidos a una pluralidad de personas con independencia de
                su finalidad, así como a abstenerse de comercializar o divulgar de cualquier modo dicha información.
            </p>

            <h3>DURACIÓN Y MODIFICACIÓN</h3>
            <p class="font-size-small">
                teleclap Media tendrá derecho a modificar los términos y condiciones aquí estipuladas de forma
                unilateral, total o parcialmente. Cualquier cambio aparecerá en la misma forma en que se encuentran en
                esta nota legal.
            </p>

            <p class="font-size-small">
                La vigencia temporal de esta nota legal coincide, por lo tanto, con el tiempo de su exposición, hasta
                el momento en que sean modificadas de forma total o parcial por parte de la empresa.
            </p>

            <p class="font-size-small">
                teleclap Media podrá dar por terminadas, suspender o interrumpir unilateralmente, la operatividad de
                este sitio Web, sin posibilidad de solicitar indemnización alguna por parte del usuario. Tras dicha
                extinción, el usuario deberá destruir cualquier información sobre teleclap Media que posea en cualquier
                formato y que haya obtenido a través del sitio o a través de las comunicaciones realizadas de forma
                individual al usuario por la misma.
            </p>

            <h3>LEY APLICABLE Y JURISDICCIÓN</h3>
            <p class="font-size-small">
                Para cualquier controversia relacionada con las presentes condiciones de servicio las partes aceptan el
                sometimiento expreso a los juzgados de Barcelona (España) y la legislación española correspondiente. De
                conformidad al Artículo 29 de la Ley 34/2002, de 11 de julio, de Servicios de la Sociedad de la
                Información y Comercio Electrónico, para cualquier controversia cuando la parte afectada es un
                consumidor, ésta podrá a su libre elección, seleccionar el domicilio habitual de su residencia para la
                interposición de acciones judiciales.
            </p>
        </div>
    </div>
</div>
