@import '~@angular/material/theming';

$toolbar-breakpoint: 600px;
$main-menu-height: 84px;

$fa-font-path: '../node_modules/@fortawesome/fontawesome-free-webfonts/webfonts';

$link-hover-decoration: none;
$label-margin-bottom: 0;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);
$success-colors: mat-palette($mat-green, 400);
$warning-colors: mat-palette($mat-amber, 400);


// --------------------------------------------------
// Shared Variables
// --------------------------------------------------
// GENERAL
$app-direction:               ltr !default;
// Base - space between box
$content-padding:             16px !default;
$content-margin:              $content-padding;
// Z-Index
$z-index-page-container:      0;
//avatar
$avatar-radius:              16% !default;
$avatar-size:                95px;
//button
$button-height:              3.6rem !default;
$button-small-height:        30px;

// --------------------------------------------------
// FONT
// --------------------------------------------------
$font-path:                  '/assets/fonts';
//$font-icon-path:             '#{$font-path}/iconfont';
$font-family:                "plumpfullblack", "Paytone One", "Roboto", -apple-system, "Helvetica Neue", sans-serif !default;
$font-family-base:           "plumpfullblack", "Roboto", -apple-system, "Helvetica Neue", sans-serif !default;
$font-icon-size:             23px !default;
$font-size-root:             62.5% !default;
$font-size-base:             1.4rem !default; // 1.4rem == 14px
//font weight
$font-regular:               400;
$font-medium:                500;
$font-bold:                  700;
//font size
$font-size-big:              2.5rem !default;
$font-size-large-up:         2rem !default;
$font-size-large:            1.8rem !default;
$font-size-normal-up:        1.6rem !default;
$font-size-normal:           $font-size-base;
$font-size-small:            1rem;

// OTHER
$avatar-item-size:             40px;
//scroll
$scroll-horizontal-space:      $content-padding/1.2;
$scroll-horizontal-item-width: 28vw;
$scroll-separation:            10px;
