<div class="container mt-3">
    <div class="row">
        <div class="col-12">
            <h1 class="font-base text-uppercase">
                ¡ÚNETE AL EQUIPO!
            </h1>
            <p class="font-small">
                Buscamos programadores/as <b>Junior</b> y <b>Senior</b> a jornada completa o media jornada para
                desarrollo de aplicaciones móviles y páginas web.
            </p>
            <div class="container mt-5 features mb-5">
                <div class="row">
                    <div class="col-sm-12 col-md-4 col-xl-4 m-sm-b">
                        <h3 class="mb-3 info-title">¿Quiénes somos?</h3>
                        <p class="mb-4 font-size-small">
                            Somos una empresa de <b>nueva creación</b>, formada por un equipo <b>multidisciplinar</b>,
                            en el que buscamos combinar <b>tecnología con creatividad</b>.
                        </p>
                    </div>
                    <div class="col-sm-12 col-md-4 col-xl-4 m-sm-b">
                        <h3 class="mb-3 info-title">¿Nuestro objetivo?</h3>
                        <p class="mb-4 font-size-small">
                            Nuestro objetivo es desarrollar y publicar nuestros propios productos,
                            haciendo uso de las <b>mejores prácticas</b> y con las <b>últimas tecnologías</b>.
                        </p>
                    </div>
                    <div class="col-sm-12 col-md-4 col-xl-4 m-sm-b">
                        <h3 class="mb-3 info-title">¿Cuál es tu papel?</h3>
                        <p class="mb-4 font-size-small">
                            Buscamos gente con <b>iniciativa</b>, con ganas de <b>aprender</b>, que quiera forma parte
                            de un concepto de <b>empresa diferente</b>.
                        </p>
                    </div>
                </div>
            </div>
            <hr>
            <br/>
            <h4>Conocimientos básicos</h4>
            <ul class="font-size-small">
                <li>Symfony (PHP)</li>
                <li>API Rest</li>
                <li>Angular</li>
            </ul>
            <h4>¿Qué conocimientos más valoramos?</h4>
            <ul class="font-size-small">
                <li>Experiencia en DDD (Domain Driven Design)</li>
                <li>Microservicios / CQRS (Command Query Responsibility Segregation)</li>
                <li>Testing y buenas prácticas</li>
                <li>Docker / CI/CD</li>
                <li>Sysadmin / Devops</li>
                <li>Spring Java / ORACLE</li>
                <li>REDUX / PWA</li>
                <li>Agile / Scrum / Kanban</li>
            </ul>
            <h4>¿Qué condiciones ofrecemos?</h4>
            <ul class="font-size-small">
                <li>
                    Junior: 25.000€ - 28.000€ Brutos anuales
                </li>
                <li>
                    Senior: 30.000€ - 35.000€ Brutos anuales
                </li>
                <li>
                    Posibilidad de <b>trabajar a distancia</b>
                </li>
            </ul>
            <br>
            <br>
            <div class="text-right">
                <a href="mailto:contact@escenit.com?subject=%C3%9Anete%20al%20equipo%20-%20teleclap"
                   mat-raised-button
                   color="accent" class="sp-btn" target="_blank">
                    <fa-icon icon="envelope"></fa-icon>
                    <span class="text"> Envíanos tu CV!</span>
                </a>
            </div>
            <br>
            <br>
        </div>
    </div>
</div>
